body { font-family: Arial; margin: 20px;
    background: #f5f5f5;
    padding: 20px  ;
}
.test { border: 1px solid #ccc; margin-bottom: 15px; border-radius: 8px; }
.header { padding: 10px; cursor: pointer; }
.header.pass { background: #d4edda; }
.header.fail { background: #f8d7da; }

.viewport-container {
    display: none;
    padding: 10px;
}

.viewport {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.viewport img {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #999;
}

.filters {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #0a53be 5px 2px;
}

.viewport img:hover {
    transform: scale(2);
    z-index: 10;
    position: relative;
    max-height: 2000px;
}

.links {
    float: right;
}

.links button {
    margin-left: 5px;
    padding: 3px 8px;
    font-size: 12px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}