.idea/*
config/project.*

public/base
public/reports
public/rendered
public/dashboard
public/coverage
vendor
drivers
*.log
log
.ddev/homeadditions/ca_certs/zscaler.pem
.ddev/homeadditions/.ssh
.ddev/docker-compose.communicate.yaml
